<h1>Welcome to mijnleven.nl</h1>
<h3>Stap 2: Maak de wijzigingen in de foto</h3>


<%= image_tag(@picture.public_filename()) %><br />

<p>Comment:</br>
<%= @picture.comment %></p>
<p> Nice url: </br>
http://217.100.174.20:8080/showme/<%= @picture.url %></p>
